.container {
    width: 100%
}
@media (min-width: 640px) {
    .container {
        max-width: 640px
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: 1536px
    }
}
.mx-auto {
    margin-left: auto;
    margin-right: auto
}
.mt-6 {
    margin-top: 1.5rem
}
.mb-5 {
    margin-bottom: 1.25rem
}
.ml-2 {
    margin-left: 0.5rem
}
.mr-3 {
    margin-right: 0.75rem
}
.mt-4 {
    margin-top: 1rem
}
.mb-1 {
    margin-bottom: 0.25rem
}
.mb-2 {
    margin-bottom: 0.5rem
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}
.p-2 {
    padding: 0.5rem
}
.p-4 {
    padding: 1rem
}
.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem
}
.text-center {
    text-align: center
}
